push argument 0   // Load x
if-goto NEGATIVE  
goto NON_NEGATIVE

(NEGATIVE)
    push argument 0
    neg         
    pop argument 1 
    push constant 1
    pop argument 2 
    push constant 0
    pop argument 3 
    return

(NON_NEGATIVE)
    push argument 0
    pop argument 1 
    push constant 0
    pop argument 2 
    push constant 0
    pop argument 3 
    return