push argument 0
pop local 0
push argument 0
pop local 2
push constant 0
pop local 1

push argument 0
push constant 0
lt
if-goto fix_neg
goto multiply

label fix_neg
push local 2
neg
pop local 2
push local 0
neg
pop local 0

label multiply
push local 2
push constant 0
eq
if-goto finish

push local 1
push local 0
add
pop local 1

push local 2
push constant 1
sub
pop local 2

goto multiply

label finish
push local 1
