push argument 0   
push argument 1  
or               
pop temp 0       

push argument 0   
push argument 1   
and              
pop temp 1       

push temp 0       
push temp 1      
sub              
pop argument 2   
push argument 2  
